name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, edited, synchronize, reopened]
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read
  pull-requests: read

jobs:
  pr_title_check:
    name: Validate Pull Request Title
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Validate PR title
        uses: teneplaysofficial/sheriff@v4

  tests:
    name: Run Tests & Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Run lint
        run: pnpm lint

      - name: Build packages
        run: pnpm build

      - name: Run tests
        run: pnpm test
